*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  max-width: 1445px;
  color: #070707;
  font-size: 18px;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../fonts/Gilroy-Medium.eot") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.eot") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 947px;
  margin: 0 auto;
}

/* HEADER */

.nav {
  display: flex;
  height: 88px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #828282;
}

.nav-link a {
  color: #828282;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

html body .active {
  color: #070707;
}

.header-info {
  height: 198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-info-title {
  width: 123px;
  font-size: 47.3392px;
  line-height: 1.3;
  font-weight: bold;
  cursor: pointer;
}
.header-info-text {
  width: 160px;
  font-size: 18px;
  line-height: 22px;
  transform: translateY(64%);
  cursor: pointer;
}
.header-info-rotate {
  cursor: pointer;
  transform: translate(40%);
}

.header-info-lang {
  color: #828282;
  font-weight: bold;
  transform: rotate(-90deg);
}

.first-slider {
  width: 100%;
  height: 387px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 105px;
}

.splide__slide img {
  width: 100%;
}

.splide__slide1 {
  transform: translateY(-33%);
}

.splide__slide2 {
  transform: translateY(-22%);
}

.splide__slide3 {
  transform: translateY(-19%);
}

.splide__slide4 {
  transform: translateY(-27%);
}

.splide__slide5 {
  transform: translateY(-10%);
}

.splide__slide6 {
  transform: translateY(-26%);
}

/* MAiN */

.about {
  background-color: #f6f6f6;
  text-align: center;
  width: 100vw;
}

.about-block {
  padding: 120px 0 107px 0;
  margin: 0 auto;
  text-align: center;
  width: 485px;
}
.about-title {
  font-size: 34px;
  font-weight: bold;
  line-height: 42px;
  color: #070707;
  margin-bottom: 25px;
}
.about-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 40px;
}

.skills {
  padding: 91px 0 110px 0;
}
.skills-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 70px;
}
.skills-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 83px;
}
.second-slider {
  width: 100%;
  cursor: pointer;
}

.skills-block {
  padding: 0 30px;
  width: 166px;
  height: 206px;
  position: relative;
}

.skills-img {
  height: 88px;
  width: 88px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.skills-block h6 {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-align: center;
  padding-top: 114px;
}

.skills-star {
  position: absolute;
  width: 166.46px;
  height: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 375px) {
  .container {
    width: 316px;
  }
  .nav,
  .header-info-rotate {
    display: none;
  }

  .header-info {
    margin-top: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .header-info-title {
    font-size: 47px;
    line-height: 58px;
    margin-bottom: -9px;
  }

  .header-info-text {
    font-size: 18px;
    line-height: 22px;
    /* margin-bottom: 36px; */
  }
  .first-slider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 316px;
    height: 478px;
    overflow: hidden;
  }

  .splide__slide img {
    width: 130%;
  }

  .splide__slide1 {
    transform: translate(-11%, -22%);
  }

  .splide__slide2 {
    transform: translateX(-11%);
  }

  .splide__slide .splide__slide3 {
    width: 480px;
    height: 478px;
    transform: translateX(-12%);
  }

  .splide__slide4 {
    transform: translateX(-11%);
  }

  .splide__slide5 {
    transform: translateX(-11%);
  }

  .splide__slide .splide__slide6 {
    width: 480px;
    height: 478px;
    transform: translateX(-16%);
  }
  .about-block {
    width: 316px;
  }

  .second-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
  }
}
